.js-feedback-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 200px;
  margin: 24px auto;
  padding: 16px;
  border: 3px solid #f1eaca;
  background-color: #f1eaca;
  box-sizing: border-box;
}
